.container {
    display: flex;
    width: 100vh;
    height: 300px;
    max-width: 700px;
}

.card {
    flex: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.card img {
    object-fit: cover;
    filter: grayscale(1);
}

.card:hover {
    flex: 2;
}

.card:hover img {
    filter: none;
}
